%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{minimum_otp_vsn, "23.0"}.

{erl_opts, [debug_info, {parse_transform, lager_transform},
            {lager_extra_sinks, [ae_scm]}]}.

%% Set OS env var AE_ROOT to point to the desired version of aeternity,
%% or create a symlink (named "aeternity") to the desired aeternity dir.
%% The latter method will help Erlang LS find the aeternity apps.
%% The logic in rebar.config.script will import the right versions of deps
%% from the aeternity code base, any time a matching dependency is given as an atom
{deps, [
        lager,
        cowboy,
        gproc,
        aeserialization,
        jsx
       ]}.
