%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{minimum_otp_vsn, "23.0"}.

{erl_opts, [debug_info, {parse_transform, lager_transform},
            {lager_extra_sinks, [ae_scm, ae_scm_chat]}]}.

{plugins, [
           {aeplugin_rebar3, {git, "https://github.com/aeternity/aeplugin_rebar3", {branch,"master"}}}
          ]}.

{aeternity_root, {git, "https://github.com/aeternity/aeternity", "master"}}.

%% Set OS env var AE_ROOT to point to the desired version of aeternity,
%% or create a symlink (named "aeternity") to the desired aeternity dir.
%% The latter method will help Erlang LS find the aeternity apps.
%% The logic in rebar.config.script will import the right versions of deps
%% from the aeternity code base, any time a matching dependency is given as an atom
{deps, [
        {lager, {ae, lager}},
        {cowboy, {ae, cowboy}},
        {gproc, {ae, gproc}},
        {aeserialization, {ae, serialization}},
        {aesophia, {git, "https://github.com/aeternity/aesophia.git", {ref,"1538af7"}}},
        {jsx, {ae, jsx}}
       ]}.
